# This is Git's per-user configuration file.
[user]
	name = AbdelrahmanFouad
	email = abderhmana@gmail.com
# Please adapt and uncomment the following lines:
#	name = Abdelrahman Fouad
#	email = abderhmana@gmail.com
